<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/starships"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ starships.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>{{ starships.model }}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>MGLT: </p>
            <p> {{ starships.MGLT }} </p>
          </ion-col>
          <ion-col>
            <p>Cargo Capacity: </p>
            <p> {{ starships.cargo_capacity }} </p>
          </ion-col>
          <ion-col>
            <p>Cost in Credits: </p>
            <p> {{ starships.cost_in_credits }} </p>
          </ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Length: </p>
            <p> {{ starships.length }} </p>
          </ion-col>
          <ion-col>
            <p>Manufacturer: </p>
            <p> {{ starships.manufacturer }} </p>
          </ion-col>
          <ion-col>
            <p>Passengers: </p>
            <p> {{ starships.passengers }} </p>
          </ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
